<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.unifiedfontobject.normalizer.modTimes</key>
	<string>version: 0a1
1478045360.0 fontinfo.plist
1478042489.0 glyphs/A_.glif
1478042489.0 glyphs/A_E_.glif
1478042489.0 glyphs/A_acute.glif
1478042489.0 glyphs/A_circumflex.glif
1478042489.0 glyphs/A_dieresis.glif
1478042489.0 glyphs/A_grave.glif
1478042489.0 glyphs/A_ring.glif
1478042489.0 glyphs/A_tilde.glif
1478042489.0 glyphs/B_.glif
1478042489.0 glyphs/C_.glif
1478042489.0 glyphs/C_cedilla.glif
1478042489.0 glyphs/D_.glif
1478042489.0 glyphs/D_elta.math.glif
1478042489.0 glyphs/E_.glif
1478042489.0 glyphs/E_acute.glif
1478042489.0 glyphs/E_circumflex.glif
1478042489.0 glyphs/E_dieresis.glif
1478042489.0 glyphs/E_grave.glif
1478042489.0 glyphs/E_th.glif
1478042489.0 glyphs/E_uro.glif
1478042489.0 glyphs/F_.glif
1478042489.0 glyphs/G_.glif
1478042489.0 glyphs/H_.glif
1478042489.0 glyphs/I_.glif
1478042489.0 glyphs/I_acute.glif
1478042489.0 glyphs/I_circumflex.glif
1478042489.0 glyphs/I_dieresis.glif
1478042489.0 glyphs/I_grave.glif
1478042489.0 glyphs/J_.glif
1478042489.0 glyphs/K_.glif
1478042489.0 glyphs/L_.glif
1478042489.0 glyphs/L_slash.glif
1478042489.0 glyphs/M_.glif
1478042489.0 glyphs/N_.glif
1478042489.0 glyphs/N_tilde.glif
1478042489.0 glyphs/O_.glif
1478042489.0 glyphs/O_E_.glif
1478042489.0 glyphs/O_acute.glif
1478042489.0 glyphs/O_circumflex.glif
1478042489.0 glyphs/O_dieresis.glif
1478042489.0 glyphs/O_grave.glif
1478042489.0 glyphs/O_mega.math.glif
1478042489.0 glyphs/O_slash.glif
1478042489.0 glyphs/O_tilde.glif
1478042489.0 glyphs/P_.glif
1478042489.0 glyphs/Q_.glif
1478042489.0 glyphs/R_.glif
1478042489.0 glyphs/S_.glif
1478042489.0 glyphs/S_caron.glif
1478042489.0 glyphs/T_.glif
1478042489.0 glyphs/T_horn.glif
1478042489.0 glyphs/U_.glif
1478042489.0 glyphs/U_acute.glif
1478042489.0 glyphs/U_circumflex.glif
1478042489.0 glyphs/U_dieresis.glif
1478042489.0 glyphs/U_grave.glif
1478042489.0 glyphs/V_.glif
1478042489.0 glyphs/W_.glif
1478042489.0 glyphs/X_.glif
1478042489.0 glyphs/Y_.glif
1478042489.0 glyphs/Y_acute.glif
1478042489.0 glyphs/Y_dieresis.glif
1478042489.0 glyphs/Z_.glif
1478042489.0 glyphs/Z_caron.glif
1478045836.0 glyphs/_notdef.glif
1478042489.0 glyphs/a.glif
1478042489.0 glyphs/aacute.glif
1478042489.0 glyphs/acircumflex.glif
1478042489.0 glyphs/acute.glif
1478042489.0 glyphs/adieresis.glif
1478042489.0 glyphs/ae.glif
1478042489.0 glyphs/agrave.glif
1478042489.0 glyphs/ampersand.glif
1478042489.0 glyphs/approxequal.glif
1478042489.0 glyphs/aring.glif
1478042489.0 glyphs/asciicircum.glif
1478042489.0 glyphs/asciitilde.glif
1478042489.0 glyphs/asterisk.glif
1478042489.0 glyphs/at.cap.glif
1478042489.0 glyphs/at.glif
1478042489.0 glyphs/atilde.glif
1478042489.0 glyphs/b.glif
1478042489.0 glyphs/backslash.glif
1478042489.0 glyphs/bar.glif
1478042489.0 glyphs/braceleft.cap.glif
1478042489.0 glyphs/braceleft.glif
1478042489.0 glyphs/braceright.cap.glif
1478042489.0 glyphs/braceright.glif
1478042489.0 glyphs/bracketleft.cap.glif
1478042489.0 glyphs/bracketleft.glif
1478042489.0 glyphs/bracketright.cap.glif
1478042489.0 glyphs/bracketright.glif
1478042489.0 glyphs/breve.glif
1478042489.0 glyphs/brokenbar.glif
1478042489.0 glyphs/bullet.glif
1478042489.0 glyphs/bulletoperator.glif
1478042489.0 glyphs/c.glif
1478042489.0 glyphs/caron.glif
1478042489.0 glyphs/ccedilla.glif
1478042489.0 glyphs/cedilla.glif
1478042489.0 glyphs/cent.glif
1478042489.0 glyphs/cent.nostroke.glif
1478042489.0 glyphs/circumflex.glif
1478042489.0 glyphs/colon.glif
1478042489.0 glyphs/comma.glif
1478042489.0 glyphs/copyright.glif
1478042489.0 glyphs/currency.glif
1478042489.0 glyphs/d.glif
1478042489.0 glyphs/dagger.glif
1478042489.0 glyphs/daggerdbl.glif
1478042489.0 glyphs/degree.glif
1478042489.0 glyphs/dieresis.glif
1478042489.0 glyphs/divide.glif
1478042489.0 glyphs/divisionslash.glif
1478042489.0 glyphs/dollar.glif
1478042489.0 glyphs/dollar.nostroke.glif
1478042489.0 glyphs/dotaccent.glif
1478042489.0 glyphs/dotlessi.glif
1478042489.0 glyphs/e.glif
1478042489.0 glyphs/eacute.glif
1478042489.0 glyphs/ecircumflex.glif
1478042489.0 glyphs/edieresis.glif
1478042489.0 glyphs/egrave.glif
1478042489.0 glyphs/eight.cap.glif
1478042489.0 glyphs/eight.glif
1478042489.0 glyphs/eight.lf.glif
1478042489.0 glyphs/eight.osf.glif
1478042489.0 glyphs/eight.tosf.glif
1478042489.0 glyphs/ellipsis.glif
1478042489.0 glyphs/emdash.cap.glif
1478042489.0 glyphs/emdash.glif
1478042489.0 glyphs/endash.cap.glif
1478042489.0 glyphs/endash.glif
1478042489.0 glyphs/equal.glif
1478042489.0 glyphs/estimated.glif
1478042489.0 glyphs/eth.glif
1478042489.0 glyphs/exclam.glif
1478042489.0 glyphs/exclamdown.cap.glif
1478042489.0 glyphs/exclamdown.glif
1478042489.0 glyphs/f.glif
1478042489.0 glyphs/f_i.glif
1478042489.0 glyphs/f_l.glif
1478044480.0 glyphs/f_t.glif
1478042489.0 glyphs/five.cap.glif
1478042489.0 glyphs/five.glif
1478042489.0 glyphs/five.lf.glif
1478042489.0 glyphs/five.osf.glif
1478042489.0 glyphs/five.tosf.glif
1478042489.0 glyphs/florin.glif
1478042489.0 glyphs/four.cap.glif
1478042489.0 glyphs/four.glif
1478042489.0 glyphs/four.lf.glif
1478042489.0 glyphs/four.osf.glif
1478042489.0 glyphs/four.tosf.glif
1478042489.0 glyphs/fraction.glif
1478042489.0 glyphs/g.glif
1478042489.0 glyphs/germandbls.glif
1478042489.0 glyphs/grave.glif
1478042489.0 glyphs/greater.glif
1478042489.0 glyphs/greaterequal.glif
1478042489.0 glyphs/guillemotleft.cap.glif
1478042489.0 glyphs/guillemotleft.glif
1478042489.0 glyphs/guillemotright.cap.glif
1478042489.0 glyphs/guillemotright.glif
1478042489.0 glyphs/guilsinglleft.cap.glif
1478042489.0 glyphs/guilsinglleft.glif
1478042489.0 glyphs/guilsinglright.cap.glif
1478042489.0 glyphs/guilsinglright.glif
1478042489.0 glyphs/h.glif
1478042489.0 glyphs/hungarumlaut.glif
1478042489.0 glyphs/hyphen.cap.glif
1478042489.0 glyphs/hyphen.glif
1478042489.0 glyphs/i.glif
1478042489.0 glyphs/iacute.glif
1478042489.0 glyphs/icircumflex.glif
1478042489.0 glyphs/idieresis.glif
1478042489.0 glyphs/igrave.glif
1478042489.0 glyphs/infinity.glif
1478042489.0 glyphs/integral.glif
1478042489.0 glyphs/j.glif
1478042489.0 glyphs/k.glif
1478042489.0 glyphs/l.glif
1478042489.0 glyphs/less.glif
1478042489.0 glyphs/lessequal.glif
1478042489.0 glyphs/litre.glif
1478042489.0 glyphs/logicalnot.glif
1478042489.0 glyphs/lozenge.glif
1478042489.0 glyphs/lslash.glif
1478042489.0 glyphs/m.glif
1478042489.0 glyphs/macron.glif
1478042489.0 glyphs/macronmod.glif
1478042489.0 glyphs/minus.glif
1478042489.0 glyphs/mu.math.glif
1478042489.0 glyphs/multiply.glif
1478042489.0 glyphs/n.glif
1478042489.0 glyphs/nbspace.glif
1478042489.0 glyphs/nine.cap.glif
1478042489.0 glyphs/nine.glif
1478042489.0 glyphs/nine.lf.glif
1478042489.0 glyphs/nine.osf.glif
1478042489.0 glyphs/nine.tosf.glif
1478042489.0 glyphs/notequal.glif
1478042489.0 glyphs/ntilde.glif
1478042489.0 glyphs/numbersign.glif
1478042489.0 glyphs/o.glif
1478042489.0 glyphs/oacute.glif
1478042489.0 glyphs/ocircumflex.glif
1478042489.0 glyphs/odieresis.glif
1478042489.0 glyphs/oe.glif
1478042489.0 glyphs/ogonek.glif
1478042489.0 glyphs/ograve.glif
1478042489.0 glyphs/one.cap.glif
1478042489.0 glyphs/one.glif
1478042489.0 glyphs/one.lf.glif
1478042489.0 glyphs/one.osf.glif
1478042489.0 glyphs/one.sups.glif
1478042489.0 glyphs/one.tosf.glif
1478042489.0 glyphs/onehalf.glif
1478042489.0 glyphs/onequarter.glif
1478042489.0 glyphs/ordfeminine.glif
1478042489.0 glyphs/ordmasculine.glif
1478042489.0 glyphs/oslash.glif
1478042489.0 glyphs/otilde.glif
1478042489.0 glyphs/p.glif
1478042489.0 glyphs/paragraph.glif
1478042489.0 glyphs/parenleft.cap.glif
1478042489.0 glyphs/parenleft.glif
1478042489.0 glyphs/parenright.cap.glif
1478042489.0 glyphs/parenright.glif
1478042489.0 glyphs/partialdiff.glif
1478042489.0 glyphs/percent.glif
1478042489.0 glyphs/period.glif
1478042489.0 glyphs/periodcentered.glif
1478042489.0 glyphs/perthousand.glif
1478042489.0 glyphs/pi.glif
1478042489.0 glyphs/plus.glif
1478042489.0 glyphs/plusminus.glif
1478042489.0 glyphs/product.glif
1478042489.0 glyphs/q.glif
1478042489.0 glyphs/question.glif
1478042489.0 glyphs/questiondown.cap.glif
1478042489.0 glyphs/questiondown.glif
1478042489.0 glyphs/quotedbl.glif
1478042489.0 glyphs/quotedblbase.glif
1478042489.0 glyphs/quotedblleft.glif
1478042489.0 glyphs/quotedblright.glif
1478042489.0 glyphs/quoteleft.glif
1478042489.0 glyphs/quoteright.glif
1478042489.0 glyphs/quotesinglbase.glif
1478042489.0 glyphs/quotesingle.glif
1478042489.0 glyphs/r.glif
1478042489.0 glyphs/radical.glif
1478042489.0 glyphs/registered.glif
1478042489.0 glyphs/ring.glif
1478042489.0 glyphs/s.glif
1478042489.0 glyphs/scaron.glif
1478042489.0 glyphs/section.glif
1478042489.0 glyphs/semicolon.glif
1478042489.0 glyphs/seven.cap.glif
1478042489.0 glyphs/seven.glif
1478042489.0 glyphs/seven.lf.glif
1478042489.0 glyphs/seven.osf.glif
1478042489.0 glyphs/seven.tosf.glif
1478042489.0 glyphs/sfthyphen.cap.glif
1478042489.0 glyphs/sfthyphen.glif
1478042489.0 glyphs/six.cap.glif
1478042489.0 glyphs/six.glif
1478042489.0 glyphs/six.lf.glif
1478042489.0 glyphs/six.osf.glif
1478042489.0 glyphs/six.tosf.glif
1478042489.0 glyphs/slash.glif
1478042489.0 glyphs/space.glif
1478042489.0 glyphs/sterling.glif
1478042489.0 glyphs/summation.glif
1478042489.0 glyphs/t.glif
1478042489.0 glyphs/thorn.glif
1478042489.0 glyphs/three.cap.glif
1478042489.0 glyphs/three.glif
1478042489.0 glyphs/three.lf.glif
1478042489.0 glyphs/three.osf.glif
1478042489.0 glyphs/three.sups.glif
1478042489.0 glyphs/three.tosf.glif
1478042489.0 glyphs/threequarters.glif
1478042489.0 glyphs/tilde.glif
1478042489.0 glyphs/trademark.glif
1478042489.0 glyphs/two.cap.glif
1478042489.0 glyphs/two.glif
1478042489.0 glyphs/two.lf.glif
1478042489.0 glyphs/two.osf.glif
1478042489.0 glyphs/two.sups.glif
1478042489.0 glyphs/two.tosf.glif
1478042489.0 glyphs/u.glif
1478042489.0 glyphs/uacute.glif
1478042489.0 glyphs/ucircumflex.glif
1478042489.0 glyphs/udieresis.glif
1478042489.0 glyphs/ugrave.glif
1478042489.0 glyphs/underscore.glif
1478042489.0 glyphs/v.glif
1478042489.0 glyphs/w.glif
1478042489.0 glyphs/x.glif
1478042489.0 glyphs/y.glif
1478042489.0 glyphs/yacute.glif
1478042489.0 glyphs/ydieresis.glif
1478042489.0 glyphs/yen.glif
1478042489.0 glyphs/z.glif
1478042489.0 glyphs/zcaron.glif
1478042489.0 glyphs/zero.cap.glif
1478042489.0 glyphs/zero.glif
1478042489.0 glyphs/zero.lf.glif
1478042489.0 glyphs/zero.lfslash.glif
1478042489.0 glyphs/zero.osf.glif
1478042489.0 glyphs/zero.slash.glif
1478042489.0 glyphs/zero.tosf.glif
1478045836.0 groups.plist
1478042490.0 kerning.plist
1478045836.0 metainfo.plist</string>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>nbspace</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>sfthyphen</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>acute</string>
		<string>mu.math</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>one.sups</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>dotlessi</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>OE</string>
		<string>oe</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>macronmod</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>pi</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>Euro</string>
		<string>litre</string>
		<string>trademark</string>
		<string>Omega.math</string>
		<string>estimated</string>
		<string>partialdiff</string>
		<string>Delta.math</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>divisionslash</string>
		<string>bulletoperator</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_t</string>
		<string>zero.slash</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.lfslash</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>zero.cap</string>
		<string>one.cap</string>
		<string>two.cap</string>
		<string>three.cap</string>
		<string>four.cap</string>
		<string>five.cap</string>
		<string>six.cap</string>
		<string>seven.cap</string>
		<string>eight.cap</string>
		<string>nine.cap</string>
		<string>exclamdown.cap</string>
		<string>questiondown.cap</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>hyphen.cap</string>
		<string>sfthyphen.cap</string>
		<string>endash.cap</string>
		<string>emdash.cap</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>at.cap</string>
		<string>cent.nostroke</string>
		<string>dollar.nostroke</string>
	</array>
</dict>
</plist>
