<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>@MMK_L_GRK_pi</key>
		<array>
			<string>pi</string>
		</array>
		<key>@MMK_L_LAT_A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>@MMK_L_LAT_C</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
		</array>
		<key>@MMK_L_LAT_D</key>
		<array>
			<string>D</string>
			<string>Eth</string>
		</array>
		<key>@MMK_L_LAT_E</key>
		<array>
			<string>AE</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>OE</string>
		</array>
		<key>@MMK_L_LAT_G</key>
		<array>
			<string>G</string>
		</array>
		<key>@MMK_L_LAT_H</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>M</string>
		</array>
		<key>@MMK_L_LAT_J</key>
		<array>
			<string>J</string>
		</array>
		<key>@MMK_L_LAT_K</key>
		<array>
			<string>K</string>
		</array>
		<key>@MMK_L_LAT_L</key>
		<array>
			<string>L</string>
			<string>Lslash</string>
		</array>
		<key>@MMK_L_LAT_N</key>
		<array>
			<string>N</string>
			<string>Ntilde</string>
		</array>
		<key>@MMK_L_LAT_O</key>
		<array>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Q</string>
		</array>
		<key>@MMK_L_LAT_R</key>
		<array>
			<string>R</string>
		</array>
		<key>@MMK_L_LAT_S</key>
		<array>
			<string>S</string>
			<string>Scaron</string>
		</array>
		<key>@MMK_L_LAT_T</key>
		<array>
			<string>T</string>
		</array>
		<key>@MMK_L_LAT_U</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
		</array>
		<key>@MMK_L_LAT_W</key>
		<array>
			<string>W</string>
		</array>
		<key>@MMK_L_LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>@MMK_L_LAT_Z</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
		</array>
		<key>@MMK_L_LAT_a</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>aring</string>
			<string>atilde</string>
		</array>
		<key>@MMK_L_LAT_b</key>
		<array>
			<string>b</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>p</string>
			<string>thorn</string>
		</array>
		<key>@MMK_L_LAT_c</key>
		<array>
			<string>c</string>
			<string>ccedilla</string>
		</array>
		<key>@MMK_L_LAT_e</key>
		<array>
			<string>ae</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>egrave</string>
			<string>oe</string>
		</array>
		<key>@MMK_L_LAT_f</key>
		<array>
			<string>f</string>
		</array>
		<key>@MMK_L_LAT_g</key>
		<array>
			<string>g</string>
		</array>
		<key>@MMK_L_LAT_h</key>
		<array>
			<string>h</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
		</array>
		<key>@MMK_L_LAT_i</key>
		<array>
			<string>dotlessi</string>
			<string>f_i</string>
			<string>i</string>
			<string>iacute</string>
			<string>igrave</string>
		</array>
		<key>@MMK_L_LAT_icircumflex</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
		</array>
		<key>@MMK_L_LAT_j</key>
		<array>
			<string>j</string>
		</array>
		<key>@MMK_L_LAT_k</key>
		<array>
			<string>k</string>
		</array>
		<key>@MMK_L_LAT_l</key>
		<array>
			<string>d</string>
			<string>f_l</string>
			<string>l</string>
			<string>lslash</string>
		</array>
		<key>@MMK_L_LAT_r</key>
		<array>
			<string>r</string>
		</array>
		<key>@MMK_L_LAT_s</key>
		<array>
			<string>s</string>
			<string>scaron</string>
		</array>
		<key>@MMK_L_LAT_t</key>
		<array>
			<string>t</string>
			<string>f_t</string>
		</array>
		<key>@MMK_L_LAT_u</key>
		<array>
			<string>u</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
		</array>
		<key>@MMK_L_LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
		</array>
		<key>@MMK_L_LAT_z</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
		</array>
		<key>@MMK_L_colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>@MMK_L_comma</key>
		<array>
			<string>comma</string>
			<string>ellipsis</string>
			<string>period</string>
		</array>
		<key>@MMK_L_copyright</key>
		<array>
			<string>copyright</string>
		</array>
		<key>@MMK_L_eight.lf</key>
		<array>
			<string>eight.lf</string>
			<string>eight.osf</string>
			<string>three.lf</string>
		</array>
		<key>@MMK_L_equal</key>
		<array>
			<string>approxequal</string>
			<string>equal</string>
			<string>logicalnot</string>
			<string>notequal</string>
		</array>
		<key>@MMK_L_fractions</key>
		<array>
			<string>onehalf</string>
			<string>onequarter</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>threequarters</string>
		</array>
		<key>@MMK_L_guilsinglleft</key>
		<array>
			<string>guillemotleft</string>
			<string>guillemotleft.cap</string>
			<string>guilsinglleft</string>
			<string>guilsinglleft.cap</string>
		</array>
		<key>@MMK_L_guilsinglright</key>
		<array>
			<string>guillemotright</string>
			<string>guillemotright.cap</string>
			<string>guilsinglright</string>
			<string>guilsinglright.cap</string>
		</array>
		<key>@MMK_L_hyphen</key>
		<array>
			<string>emdash</string>
			<string>emdash.cap</string>
			<string>endash</string>
			<string>endash.cap</string>
			<string>hyphen</string>
			<string>hyphen.cap</string>
		</array>
		<key>@MMK_L_less</key>
		<array>
			<string>less</string>
			<string>multiply</string>
		</array>
		<key>@MMK_L_parenleft</key>
		<array>
			<string>braceleft</string>
			<string>braceleft.cap</string>
			<string>bracketleft</string>
			<string>bracketleft.cap</string>
			<string>parenleft</string>
			<string>parenleft.cap</string>
		</array>
		<key>@MMK_L_parenright</key>
		<array>
			<string>braceright</string>
			<string>braceright.cap</string>
			<string>bracketright</string>
			<string>bracketright.cap</string>
			<string>parenright</string>
			<string>parenright.cap</string>
		</array>
		<key>@MMK_L_periodcentered</key>
		<array>
			<string>bulletoperator</string>
			<string>periodcentered</string>
		</array>
		<key>@MMK_L_plus</key>
		<array>
			<string>asciitilde</string>
			<string>divide</string>
			<string>greater</string>
			<string>minus</string>
			<string>plus</string>
		</array>
		<key>@MMK_L_quotedbl</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
		<key>@MMK_L_quoteleft</key>
		<array>
			<string>quotedblleft</string>
			<string>quoteleft</string>
		</array>
		<key>@MMK_L_quoteright</key>
		<array>
			<string>quotedblright</string>
			<string>quoteright</string>
		</array>
		<key>@MMK_L_quotesinglbase</key>
		<array>
			<string>quotedblbase</string>
			<string>quotesinglbase</string>
		</array>
		<key>@MMK_L_registered</key>
		<array>
			<string>asterisk</string>
			<string>registered</string>
		</array>
		<key>@MMK_L_six.lf</key>
		<array>
			<string>six.lf</string>
			<string>six.osf</string>
		</array>
		<key>@MMK_L_sups_corner</key>
		<array>
			<string>ordfeminine</string>
		</array>
		<key>@MMK_L_sups_figures</key>
		<array>
			<string>one.sups</string>
			<string>three.sups</string>
			<string>two.sups</string>
		</array>
		<key>@MMK_L_sups_round</key>
		<array>
			<string>ordmasculine</string>
		</array>
		<key>@MMK_L_trademark</key>
		<array>
			<string>trademark</string>
		</array>
		<key>@MMK_L_zero.lf</key>
		<array>
			<string>zero.lf</string>
			<string>zero.lfslash</string>
		</array>
		<key>@MMK_R_LAT_A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>@MMK_R_LAT_E</key>
		<array>
			<string>B</string>
			<string>D</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Eth</string>
			<string>F</string>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>K</string>
			<string>L</string>
			<string>Lslash</string>
			<string>P</string>
			<string>R</string>
			<string>Thorn</string>
		</array>
		<key>@MMK_R_LAT_J</key>
		<array>
			<string>J</string>
		</array>
		<key>@MMK_R_LAT_M</key>
		<array>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
		</array>
		<key>@MMK_R_LAT_O</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>G</string>
			<string>O</string>
			<string>OE</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Q</string>
		</array>
		<key>@MMK_R_LAT_S</key>
		<array>
			<string>S</string>
			<string>Scaron</string>
		</array>
		<key>@MMK_R_LAT_T</key>
		<array>
			<string>T</string>
		</array>
		<key>@MMK_R_LAT_U</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
		</array>
		<key>@MMK_R_LAT_W</key>
		<array>
			<string>W</string>
		</array>
		<key>@MMK_R_LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>@MMK_R_LAT_Z</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
		</array>
		<key>@MMK_R_LAT_a</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>ae</string>
			<string>agrave</string>
			<string>aring</string>
			<string>atilde</string>
		</array>
		<key>@MMK_R_LAT_f</key>
		<array>
			<string>f</string>
			<string>f_i</string>
			<string>f_l</string>
			<string>germandbls</string>
			<string>f_t</string>
		</array>
		<key>@MMK_R_LAT_g</key>
		<array>
			<string>g</string>
		</array>
		<key>@MMK_R_LAT_h</key>
		<array>
			<string>b</string>
			<string>h</string>
			<string>k</string>
			<string>l</string>
			<string>lslash</string>
		</array>
		<key>@MMK_R_LAT_i</key>
		<array>
			<string>i</string>
			<string>iacute</string>
			<string>igrave</string>
		</array>
		<key>@MMK_R_LAT_icircumflex</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
		</array>
		<key>@MMK_R_LAT_j</key>
		<array>
			<string>j</string>
		</array>
		<key>@MMK_R_LAT_m</key>
		<array>
			<string>dotlessi</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
			<string>r</string>
		</array>
		<key>@MMK_R_LAT_o</key>
		<array>
			<string>c</string>
			<string>ccedilla</string>
			<string>d</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>egrave</string>
			<string>eth</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>oe</string>
			<string>ograve</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>q</string>
		</array>
		<key>@MMK_R_LAT_s</key>
		<array>
			<string>s</string>
			<string>scaron</string>
		</array>
		<key>@MMK_R_LAT_t</key>
		<array>
			<string>t</string>
		</array>
		<key>@MMK_R_LAT_u</key>
		<array>
			<string>u</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
		</array>
		<key>@MMK_R_LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
		</array>
		<key>@MMK_R_LAT_y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
		</array>
		<key>@MMK_R_LAT_z</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
		</array>
		<key>@MMK_R_colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>@MMK_R_comma</key>
		<array>
			<string>comma</string>
			<string>ellipsis</string>
			<string>period</string>
		</array>
		<key>@MMK_R_copyright</key>
		<array>
			<string>copyright</string>
		</array>
		<key>@MMK_R_eight.lf</key>
		<array>
			<string>eight.lf</string>
			<string>eight.osf</string>
		</array>
		<key>@MMK_R_equal</key>
		<array>
			<string>approxequal</string>
			<string>equal</string>
			<string>notequal</string>
		</array>
		<key>@MMK_R_fractions</key>
		<array>
			<string>onehalf</string>
			<string>onequarter</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>threequarters</string>
		</array>
		<key>@MMK_R_greater</key>
		<array>
			<string>greater</string>
			<string>multiply</string>
		</array>
		<key>@MMK_R_guilsinglleft</key>
		<array>
			<string>guillemotleft</string>
			<string>guillemotleft.cap</string>
			<string>guilsinglleft</string>
			<string>guilsinglleft.cap</string>
		</array>
		<key>@MMK_R_guilsinglright</key>
		<array>
			<string>guillemotright</string>
			<string>guillemotright.cap</string>
			<string>guilsinglright</string>
			<string>guilsinglright.cap</string>
		</array>
		<key>@MMK_R_hyphen</key>
		<array>
			<string>emdash</string>
			<string>emdash.cap</string>
			<string>endash</string>
			<string>endash.cap</string>
			<string>hyphen</string>
			<string>hyphen.cap</string>
		</array>
		<key>@MMK_R_parenleft</key>
		<array>
			<string>braceleft</string>
			<string>braceleft.cap</string>
			<string>bracketleft</string>
			<string>bracketleft.cap</string>
			<string>parenleft</string>
			<string>parenleft.cap</string>
		</array>
		<key>@MMK_R_parenright</key>
		<array>
			<string>braceright</string>
			<string>braceright.cap</string>
			<string>bracketright</string>
			<string>bracketright.cap</string>
			<string>parenright</string>
			<string>parenright.cap</string>
		</array>
		<key>@MMK_R_periodcentered</key>
		<array>
			<string>bulletoperator</string>
			<string>periodcentered</string>
		</array>
		<key>@MMK_R_plus</key>
		<array>
			<string>asciitilde</string>
			<string>divide</string>
			<string>less</string>
			<string>logicalnot</string>
			<string>minus</string>
			<string>plus</string>
		</array>
		<key>@MMK_R_quotedbl</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
		<key>@MMK_R_quoteleft</key>
		<array>
			<string>quotedblleft</string>
			<string>quoteleft</string>
		</array>
		<key>@MMK_R_quoteright</key>
		<array>
			<string>quotedblright</string>
			<string>quoteright</string>
		</array>
		<key>@MMK_R_quotesinglbase</key>
		<array>
			<string>quotedblbase</string>
			<string>quotesinglbase</string>
		</array>
		<key>@MMK_R_registered</key>
		<array>
			<string>asterisk</string>
			<string>registered</string>
		</array>
		<key>@MMK_R_six.lf</key>
		<array>
			<string>six.lf</string>
			<string>six.osf</string>
		</array>
		<key>@MMK_R_sups_figures</key>
		<array>
			<string>one.sups</string>
			<string>three.sups</string>
			<string>two.sups</string>
		</array>
		<key>@MMK_R_sups_round</key>
		<array>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
		</array>
		<key>@MMK_R_trademark</key>
		<array>
			<string>trademark</string>
		</array>
		<key>@MMK_R_zero.lf</key>
		<array>
			<string>zero.lf</string>
			<string>zero.lfslash</string>
		</array>
		<key>ADDL_AL3_AL4</key>
		<array>
			<string>eight.cap</string>
			<string>five.cap</string>
			<string>four.cap</string>
			<string>nine.cap</string>
			<string>one.cap</string>
			<string>seven.cap</string>
			<string>six.cap</string>
			<string>three.cap</string>
			<string>two.cap</string>
			<string>zero.cap</string>
		</array>
		<key>GREEK</key>
		<array>
			<string>pi</string>
		</array>
		<key>LATIN</key>
		<array>
			<string>A</string>
			<string>AE</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>B</string>
			<string>C</string>
			<string>Ccedilla</string>
			<string>D</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Eth</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>O</string>
			<string>OE</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>Scaron</string>
			<string>T</string>
			<string>Thorn</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Z</string>
			<string>Zcaron</string>
			<string>a</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>ae</string>
			<string>agrave</string>
			<string>aring</string>
			<string>atilde</string>
			<string>b</string>
			<string>c</string>
			<string>ccedilla</string>
			<string>d</string>
			<string>dotlessi</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>egrave</string>
			<string>eth</string>
			<string>exclamdown</string>
			<string>exclamdown.cap</string>
			<string>f</string>
			<string>f_i</string>
			<string>f_l</string>
			<string>g</string>
			<string>germandbls</string>
			<string>h</string>
			<string>i</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>lslash</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>oe</string>
			<string>ograve</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>p</string>
			<string>q</string>
			<string>questiondown</string>
			<string>questiondown.cap</string>
			<string>r</string>
			<string>s</string>
			<string>scaron</string>
			<string>t</string>
			<string>thorn</string>
			<string>u</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>z</string>
			<string>zcaron</string>
		</array>
		<key>cap_punc</key>
		<array>
			<string>at.cap</string>
			<string>braceleft.cap</string>
			<string>braceright.cap</string>
			<string>bracketleft.cap</string>
			<string>bracketright.cap</string>
			<string>emdash.cap</string>
			<string>endash.cap</string>
			<string>exclamdown.cap</string>
			<string>guillemotleft.cap</string>
			<string>guillemotright.cap</string>
			<string>guilsinglleft.cap</string>
			<string>guilsinglright.cap</string>
			<string>hyphen.cap</string>
			<string>parenleft.cap</string>
			<string>parenright.cap</string>
			<string>questiondown.cap</string>
		</array>
		<key>currency</key>
		<array>
			<string>Euro</string>
			<string>cent</string>
			<string>dollar</string>
			<string>florin</string>
			<string>sterling</string>
			<string>yen</string>
		</array>
		<key>fig_lf</key>
		<array>
			<string>eight</string>
			<string>eight.lf</string>
			<string>five</string>
			<string>five.lf</string>
			<string>four</string>
			<string>four.lf</string>
			<string>nine</string>
			<string>nine.lf</string>
			<string>one</string>
			<string>one.lf</string>
			<string>seven</string>
			<string>seven.lf</string>
			<string>six</string>
			<string>six.lf</string>
			<string>three</string>
			<string>three.lf</string>
			<string>two</string>
			<string>two.lf</string>
			<string>zero</string>
			<string>zero.lf</string>
		</array>
		<key>fig_osf</key>
		<array>
			<string>eight.osf</string>
			<string>eight.tosf</string>
			<string>five.osf</string>
			<string>five.tosf</string>
			<string>four.osf</string>
			<string>four.tosf</string>
			<string>nine.osf</string>
			<string>nine.tosf</string>
			<string>one.osf</string>
			<string>one.tosf</string>
			<string>seven.osf</string>
			<string>seven.tosf</string>
			<string>six.osf</string>
			<string>six.tosf</string>
			<string>three.osf</string>
			<string>three.tosf</string>
			<string>two.osf</string>
			<string>two.tosf</string>
			<string>zero.osf</string>
			<string>zero.tosf</string>
		</array>
		<key>fig_prop</key>
		<array>
			<string>eight.lf</string>
			<string>eight.osf</string>
			<string>five.lf</string>
			<string>five.osf</string>
			<string>four.lf</string>
			<string>four.osf</string>
			<string>nine.lf</string>
			<string>nine.osf</string>
			<string>one.lf</string>
			<string>one.osf</string>
			<string>seven.lf</string>
			<string>seven.osf</string>
			<string>six.lf</string>
			<string>six.osf</string>
			<string>three.lf</string>
			<string>three.osf</string>
			<string>two.lf</string>
			<string>two.osf</string>
			<string>zero.lf</string>
			<string>zero.osf</string>
		</array>
		<key>lc</key>
		<array>
			<string>a</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>ae</string>
			<string>agrave</string>
			<string>aring</string>
			<string>atilde</string>
			<string>b</string>
			<string>c</string>
			<string>ccedilla</string>
			<string>d</string>
			<string>dotlessi</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>egrave</string>
			<string>eth</string>
			<string>f</string>
			<string>f_i</string>
			<string>f_l</string>
			<string>florin</string>
			<string>g</string>
			<string>germandbls</string>
			<string>h</string>
			<string>i</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>litre</string>
			<string>lslash</string>
			<string>m</string>
			<string>mu.math</string>
			<string>n</string>
			<string>ntilde</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>oe</string>
			<string>ograve</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>p</string>
			<string>pi</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>scaron</string>
			<string>t</string>
			<string>thorn</string>
			<string>u</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>z</string>
			<string>zcaron</string>
		</array>
		<key>math</key>
		<array>
			<string>approxequal</string>
			<string>asciitilde</string>
			<string>bar</string>
			<string>bulletoperator</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>greaterequal</string>
			<string>less</string>
			<string>lessequal</string>
			<string>logicalnot</string>
			<string>minus</string>
			<string>multiply</string>
			<string>notequal</string>
			<string>plus</string>
			<string>plusminus</string>
		</array>
		<key>punc</key>
		<array>
			<string>ampersand</string>
			<string>asterisk</string>
			<string>at</string>
			<string>backslash</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>bullet</string>
			<string>colon</string>
			<string>comma</string>
			<string>copyright</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>ellipsis</string>
			<string>emdash</string>
			<string>endash</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>hyphen</string>
			<string>numbersign</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>period</string>
			<string>periodcentered</string>
			<string>question</string>
			<string>questiondown</string>
			<string>quotedbl</string>
			<string>quotedblbase</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotesinglbase</string>
			<string>quotesingle</string>
			<string>registered</string>
			<string>semicolon</string>
			<string>slash</string>
			<string>trademark</string>
			<string>underscore</string>
		</array>
		<key>sups</key>
		<array>
			<string>one.sups</string>
			<string>three.sups</string>
			<string>two.sups</string>
		</array>
		<key>uc</key>
		<array>
			<string>A</string>
			<string>AE</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>B</string>
			<string>C</string>
			<string>Ccedilla</string>
			<string>D</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Eth</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>O</string>
			<string>OE</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Omega.math</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>Scaron</string>
			<string>T</string>
			<string>Thorn</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Z</string>
			<string>Zcaron</string>
		</array>
	</dict>
</plist>
